 <div class="banner">
                      <div class="slider">
                            <figure>
                                  <div class="slide">
                                        <img src="https://images-na.ssl-images-amazon.com/images/I/A14Mu2yaZiL.png" alt="" class="image1">
                                  </div>
                                  <div class="slide">
                                        <img src="https://images-na.ssl-images-amazon.com/images/I/A13rrRmPP-L.png" alt="" class="image1">
                                  </div>
                                  <div class="slide">
                                        <img src="https://i.ytimg.com/vi/tJ5mY0651l8/maxresdefault.jpg" alt="" class="image1">
                                  </div>
                                  <div class="slide">
                                        <img src="https://i2.wp.com/3.bp.blogspot.com/-h7CTYU7uLcA/ViT6BNb4WNI/AAAAAAAAlR0/rMvvLvCvZno/s1600/2.jpg" alt="Farming Game" class="image1">
                                  </div>
                                  <div class="slide">
                                        <img src="http://img.apkask.com/2015/04/03222309_1.jpg" alt="Farming Game" class="image1">
                                  </div>
                            </figure>
                      </div>
                        <div class="downloadButtons">
                            <block class="spaceHolder"></block>
                            <div class="winDownload">
                               <img src="https://goo.gl/wG4fqn" class="image">
                               <a href="#" class="buttonText">DOWNLOAD</a>
                            </div>
                            <div class="macDownload">
                               <img src="https://goo.gl/5AdbSh" class="image">
                               <a href="#" class="buttonText">DOWNLOAD</a>
                            </div>
                            <div class="mobileDownload">
                               <img src="https://goo.gl/ZyTS4e" class="image">
                               <a href="#" class="buttonText">DOWNLOAD</a>
                            </div>
                            <block class="spaceHolder"></block>
                        </div>
                    </div>