                    <div id="footer">
                        <div>
                              <a href="Main_Page.html" class="logo" title="Autumn Petals Main Page"><strong>Autumn Petals</strong></a>
                        </div>
                        <div id="footer-menu">
                              <a href="#" title="Corporate">Corporate</a>
                              <a class="footer-m" href="#" title="Terms of Service"> Terms of Service</a>
                              <a class="footer-m" href="#" title="Privacy Policy"> Privacy Policy</a>
                              <a class="footer-m" href="#" title="Career">Career</a>
                              <a class="footer-m" href="#" title="Contact Us">Contact Us</a>
                              <a class="footer-m" href="#" title="Legal Notice">Legal Notice</a>
                              <a class="footer-m" href="#" title="Sitemap">Sitemap</a>
                        </div>
                        <div id="footer-social">
                              <ul>
                                    <li><a href="#" title="facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
                                    <li><a href="#" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="#" title="google plus"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                                    <li><a href="#" title="youtube"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                    <li><a href="#" title="linkedin"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                              </ul>
                        </div>
                        <div id="copyright">
                            <p class="copyright"><strong>&copy; <%= new Date().toISOString().substr(0,10) %> Autumn Petals</strong></p>
                        </div>
                  </div>
