                  <header>
                        <nav class="headerNav">
                              <a class="title" href="/" style="text-decoration: none"><h1>Autumn Petals</h1></a>
                              <ul class="navMenu">
                                    <li class="navMenuItem"><a href="#">The Game</a>

                                              <ul class="dropdown">
                                                    <li><a href="#">Features</a></li>
                                                    <li><a href="#">Wiki</a></li>
                                                    <li><a href="#">Getting Started</a></li>
                                                    <li><a href="#">Controls</a></li>
                                              </ul>

                                    </li>
                                    <li class="navMenuItem"><a href="#">Community</a>

                                          <ul class="dropdown">
                                                <li><a href="#">Ranking</a></li>
                                                <li><a href="#">Guilds</a></li>
                                                <li><a href="#">Forum</a></li>
                                                <li><a href="#">FAQ</a></li>
                                          </ul>

                                    </li>
                                    <li class="navMenuItem"><a href="#">Support</a>

                                          <ul class="dropdown">
                                                <li><a href="#">Client &amp; Driver</a></li>
                                                <li><a href="#">Customer Support</a></li>
                                                <li><a href="#">General Help</a></li>
                                                <li><a href="#">Contact Us</a></li>
                                                <li><a href="#">Terms of Service</a></li>
                                          </ul>

                                    </li>
                              </ul>
                        </nav>
                        <div class="signinButtons">
                            <a href="#" class="button1">Sign Up</a>
                            <a href="#" class="button2">Log In</a>
                        </div>
                  </header>