                    <div class="nav2">
                                <ul class="subNav">

                                        <li ><a href="/announce/news">News</a>
                                         </li>

                                        <li><a href="#">World</a>
                                        </li>

                                        <li><a href="/game">The Game</a>
                                        </li>

                                        <li><a href="/item-mall">Item Mall</a>
                                        </li>

                                        <li><a href="#">Media</a>
                                        </li>
                                </ul>
                    </div>