                        <div class="side_tab3">
                              <div class="item_tab">
                                    <h3><strong>World</strong></h3>
                              </div>
                              <div class="item_tab_elements">
                                    <ul>
                                          <li><a href="#">World of --</a></li>
                                          <li><a href="/world/character">Character</a></li>
                                          <li><a href="#">Story</a></li>
                                          <li><a href="#">NPCs</a></li>
                                          <li><a href="#">Environments</a></li>
                                          <li><a href="/world/farm">Farm</a></li>
                                          <li><a href="/world/town">Town</a></li>
                                          <li><a href="/world/forest">Forest</a></li>
                                          <li><a href="/world/market">Market</a></li>
                                          <li><a href="/world/location">Location</a></li>
                                          <li><a href="/world/house">House</a></li>
                                          <li><a href="/world/mine">Mine</a></li>
                                          <li><a href="/world/beach">Beach</a></li>
                                    </ul>
                              </div>
                        </div>