                        <div class="side_tab">
                              <div class="news_tab">
                                    <h3><strong>Announcements</strong></h3>
                              </div>
                              <div class="news_tab_elements">
                                    <ul>
                                          <li><a href="/announce/news">News</a></li>
                                          <li><a href="/announce/game-update">Game Updates</a></li>
                                          <li><a href="/announce/patch-notes">Patch Notes</a></li>
                                          <li><a href="/announce/events">Events</a></li>
                                          <li><a href="/announce/maintenance">Maintenance</a></li>
                                          <li><a href="/announce/server">Server Status</a></li>
                                    </ul>
                              </div>
                        </div>