                        <div class="side_tab3">
                              <div class="item_tab">
                                    <h3><strong>Media</strong></h3>
                              </div>
                              <div class="item_tab_elements">
                                    <ul>
                                          <li><a href="#">Wallpaper</a></li>
                                          <li><a href="#">Music</a></li>
                                          <li><a href="/media/gallery">Gallery</a></li>
                                          <li><a href="#">Fan Art</a></li>
                                    </ul>
                              </div>
                        </div>