                        <div class="side_tab3">
                              <div class="item_tab">
                                    <h3><strong>The Game</strong></h3>
                              </div>
                              <div class="item_tab_elements">
                                    <ul>
                                          <li><a href="/game/crops">Crops</a></li>
                                          <li><a href="/game/weather">Weather</a></li>
                                          <li><a href="/game/fishing">Fishing</a></li>
                                          <li><a href="/game/mining">Mining</a></li>
                                          <li><a href="/game/insect-hunting">Insect Hunting</a></li>
                                          <li><a href="#">Stamina</a></li>
                                          <li><a href="/game/contest">Contest</a></li>
                                    </ul>
                              </div>
                        </div>