                        <div class="side_tab3">
                              <div class="item_tab">
                                    <h3><strong>Item Mall</strong></h3>
                              </div>
                              <div class="item_tab_elements">
                                    <ul>
                                          <li><a href="/item-mall/seeds">Seeds</a></li>
                                          <li><a href="/item-mall/trees">Legendary Trees</a></li>
                                          <li><a href="/item-mall/animals">Animals</a></li>
                                          <li><a href="/item-mall/pets">Pets</a></li>
                                          <li><a href="#">Upgrades</a></li>
                                          <li><a href="#">Expansion</a></li>
                                          <li><a href="/item-mall/gems">Gems</a></li>
                                          <li><a href="#">Exp. Boost</a></li>
                                    </ul>
                              </div>
                        </div>