<!DOCTYPE html>
<html>
      <head>
            <meta charset="utf-8">
            <title>Autumn Petals Main Page</title>
            <link rel="stylesheet" href="../stylesheets/main_page.css" style="text/css">
            <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Satisfy" rel="stylesheet">
            <link rel="stylesheet" href="../stylesheets/button.css" style="text/css">
            <link rel="shortcut icon" type="image/x-icon" href="../Elements/favicon.ico"/>
            <link rel="stylesheet" href="../stylesheets/image_slider.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/content.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/footer.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/form.css" style="text/css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="../stylesheets/panel.css" style="text/css">
      </head>
      <body>
            <div class="mainContent">
                  <% include ./partials/header1 %>
                  <% include ./partials/banner %>
                  <% include ./partials/header2 %>
                  <div class="panel_container">
                        <div class="panel1 long_panel">
                              <a href="/item-mall/pets" class="panel_title">June Pet Sale</a>
                              <img src="https://goo.gl/CBEV8g" alt="0.png">
                        </div>
                        <div class="panel2 panel">
                              <a href="/item-mall" class="panel_title">New Items</a>
                              <img src="https://goo.gl/vf8cu3" alt="items">
                        </div>
                        <div class="panel3 panel">
                              <a href="/announce/game-update" class="panel_title">Balance Updates</a>
                              <img src="https://goo.gl/8FxJjU" alt="Balance Updates">
                        </div>
                        <div class="panel4 long_panel">
                              <a href="/announce/patch-notes" class="panel_title">Patch Notes</a>
                              <img src="https://goo.gl/2PSw53" alt="Patch Notes">
                        </div>
                        
                        <div class="panel5 hidden panel">
                              <a href="Nav_Patch.html" class="panel_title">Patch Notes</a>
                              <img src="https://goo.gl/VN9U1z" alt="Patch Notes">
                        </div>
                  </div>
                    
                  <div class="content">
                        <div class="newsTitle">
                              <h1>News</h1>
                        
                                <div class="article">
                                <div class="articleTitle">
                                    <h2>
                                        <a href="#" title="North and South America Data Center Maintenance">NA/SA Server Maintenance </a>
                                    </h2>
                                    <span class="date">06/08/17</span>
                                </div>
                                <p class="teaser">
                                    Please read the following...&nbsp;&nbsp;&nbsp;<a href="#" title="North and South America server Maintenance" class="more">Read More&#187;&nbsp;</a>
                                </p>
                            </div>
                            
                            <div class="article">
                                <div class="articleTitle">
                                    <h2>
                                        <a href="#" title="The Sneak Peak">The Sneak Peak </a>
                                    </h2>
                                    <span class="date">06/09/17</span>
                                </div>
                                
                                    <p class="teaser">
                                        What lies beyond...&nbsp;&nbsp;<a href="#" title="The Sneak Peak" class="more">Read More&#187;&nbsp;</a>
                                    </p>
                            </div>
                            
                            <div class="article">
                                <div class="articleTitle">
                                    <h2>
                                        <a href="#" title="Official Launch Date">Official Launch Date </a>
                                    </h2>
                                    <span class="date">12/12/99</span>
                                </div>
                                <p class="teaser">
                                    Finally,the day is here...&nbsp;&nbsp;<a href="#" title="Official Launch Date" class="more">Read More&#187;&nbsp;</a>
                                </p>
                            </div>
                                  
                        </div>
                            
                        <div class="newsTitle">
                              <h1>Updates</h1>
                        
                            <div class="article">
                                <div class="articleTitle">
                                    <h2>
                                        <a href="#" title="Major Game Adjustments">Major Game Adjustments </a>
                                    </h2>
                                    <span class="date">06/10/17</span>
                                </div>
                                <p class="teaser">
                                    Game balance &amp; more&nbsp;&nbsp;&nbsp;<a href="#" title="Major Game Adjustments" class="more">Read More&#187;&nbsp;</a>
                                </p>
                            </div>
                            
                            <div class="article">
                                <div class="articleTitle">
                                    <h2>
                                        <a href="#" title="New Farm Animals">New Farm Animals </a>
                                    </h2>
                                    <span class="date">06/12/17</span>
                                </div>
                                
                                    <p class="teaser">
                                        New introductions into the farm..&nbsp;&nbsp;<a href="#" title="New Farm Animals" class="more">Read More&#187;&nbsp;</a>
                                    </p>
                            </div>
                            
                            <div class="article">
                                <div class="articleTitle">
                                    <h2>
                                        <a href="#" title="Patch 0.01">Patch 0.01 </a>
                                    </h2>
                                    <span class="date">06/13/17</span>
                                </div>
                                <p class="teaser">
                                    Please read the following...&nbsp;&nbsp;<a href="#" title="Patch 0.01" class="more">Read More&#187;&nbsp;</a>
                                </p>
                            </div>
                            
                             <!-- <dl class="">
                                    <dt class="subject">
                                          <a href="#" title="Major Game Adjustments">Major Game Adjustments </a>
                                    </dt>
                                    <dd class="date">
                                          <span>06/10/17</span>
                                    </dd>
                                    <dd class="teaser">
                                          Game balance &amp; more&nbsp;&nbsp;&nbsp;<a href="#" title="Major Game Adjustments" class="more">Read More&#187;&nbsp;</a>
                                    </dd>
                              </dl>
                              <dl class="article">
                                    <dt class="subject">
                                          <a href="#" title="New Farm Animals">New Farm Animals </a>
                                    </dt>
                                    <dd class="date">
                                          <span>06/12/17</span>
                                    </dd>
                                    <dd class="teaser">
                                          New introductions into the farm..&nbsp;&nbsp;<a href="#" title="New Farm Animals" class="more">Read More&#187;&nbsp;</a>
                                    </dd>
                              </dl>
                              <dl class="article">
                                    <dt class="subject">
                                          <a href="#" title="Patch 0.01">Patch 0.01 </a>
                                    </dt>
                                    <dd class="date">
                                          <span>06/13/17</span>
                                    </dd>
                                    <dd class="teaser">
                                          Please read the following...&nbsp;&nbsp;<a href="#" title="Patch 0.01" class="more">Read More&#187;&nbsp;</a>
                                    </dd>
                              </dl> -->
                        </div>
                            
                        <div class="newsTitle">
                              <h1>Events</h1>
                        
                            <div class="article">
                                <div class="articleTitle">
                                    <h2>
                                        <a href="#" title="Double Exp. Weekend">Double Exp. Weekend</a>
                                    </h2>
                                    <span class="date">06/15/17</span>
                                </div>
                                <p class="teaser">
                                    Please read the following...&nbsp;&nbsp;&nbsp;<a href="#" title="Double Exp. Weekend" class="more">Read More&#187;&nbsp;</a>
                                </p>
                            </div>
                            
                            <div class="article">
                                <div class="articleTitle">
                                    <h2>
                                        <a href="#" title="Daily Logging Rewards">Daily Logging Rewards</a>
                                    </h2>
                                    <span class="date">06/16/17</span>
                                </div>
                                
                                    <p class="teaser">
                                        Logging for rewards..&nbsp;&nbsp;<a href="#" title="Daily Logging Rewards" class="more">Read More&#187;&nbsp;</a>
                                    </p>
                            </div>
                            
                            <div class="article">
                                <div class="articleTitle">
                                    <h2>
                                        <a href="#" title="Summer Break Events">Summer Break Events</a>
                                    </h2>
                                    <span class="date">06/20/17</span>
                                </div>
                                <p class="teaser">
                                    Summer break is here!!!&nbsp;&nbsp;<a href="#" title="Summer Break Events" class="more">Read More&#187;&nbsp;</a>
                                </p>
                            </div>
                            
                            <!--  <dl class="article">
                                    <dt class="subject">
                                          <a href="#" title="Double Exp. Weekend">Double Exp. Weekend</a>
                                    </dt>
                                    <dd class="date">
                                          <span>06/15/17</span>
                                    </dd>
                                    <dd class="teaser">
                                          Please read the following...&nbsp;&nbsp;&nbsp;<a href="#" title="Double Exp. Weekend" class="more">Read More&#187;&nbsp;</a>
                                    </dd>
                              </dl>
                              <dl class="article">
                                    <dt class="subject">
                                          <a href="#" title="Daily Logging Rewards">Daily Logging Rewards</a>
                                    </dt>
                                    <dd class="date">
                                          <span>06/16/17</span>
                                    </dd>
                                    <dd class="teaser">
                                          Logging for rewards..&nbsp;&nbsp;<a href="#" title="Daily Logging Rewards" class="more">Read More&#187;&nbsp;</a>
                                    </dd>
                              </dl>
                              <dl class="article">
                                    <dt class="subject">
                                          <a href="#" title="Summer Break Events">Summer Break Events</a>
                                    </dt>
                                    <dd class="date">
                                          <span>06/20/17</span>
                                    </dd>
                                    <dd class="teaser">
                                          Summer break is here!!!&nbsp;&nbsp;<a href="#" title="Summer Break Events" class="more">Read More&#187;&nbsp;</a>
                                    </dd>
                              </dl> -->
                        </div>
                  </div>
            </div>
            <% include ./partials/footer %>
            
            
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="../scripts/ModalLogin.js"></script>
      </body>
</html>
