<!DOCTYPE html>
<html>
      <head>
            <meta charset="utf-8">
            <title>Autumn Petals</title>
            <link rel="stylesheet" href="../stylesheets/main_page.css" style="text/css">
            <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Satisfy" rel="stylesheet">
            <link rel="stylesheet" href="../stylesheets/button.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/downloadbutton.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/image_slider.css" style="text/css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="../stylesheets/game_fishing.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/footer.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/form.css" style="text/css">
            <link rel="shortcut icon" type="image/x-icon" href="../Elements/favicon.ico"/>
      </head>
      <body>
            <div class="mainContent">
                  <% include ./partials/header1 %>
                  <% include ./partials/banner %>
                  <% include ./partials/header2 %>
                  </div>
                    <div class="content3">
                        <% include ./partials/side_tab_game %>
                        <div class="item_content">
                              <h2 class="header_item">Insect Hunting</h2><br>
                              <div class="item_content_container">

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/98.PNG" alt="Ladybug">
                                          </div>
                                          <div class="description">
                                                Ladybug
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/99.PNG" alt="Dragonfly">
                                          </div>
                                          <div class="description">
                                                Dragonfly
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/100.PNG" alt="Grasshopper">
                                          </div>
                                          <div class="description">
                                                Grasshopper
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/101.PNG" alt="Ant">
                                          </div>
                                          <div class="description">
                                                Ant
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/102.PNG" alt="Mosquito">
                                          </div>
                                          <div class="description">
                                                Mosquito
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/103.PNG" alt="Butterfly">
                                          </div>
                                          <div class="description">
                                                Butterfly
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/104.PNG" alt="Beetle">
                                          </div>
                                          <div class="description">
                                                Beetle
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/105.PNG" alt="Moth ">
                                          </div>
                                          <div class="description">
                                                Moth
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/106.PNG" alt="Bee">
                                          </div>
                                          <div class="description">
                                                Bee
                                          </div>
                                    </div>

                              </div>
                        </div>
                  </div>
            </div><br><br>
            <% include ./partials/footer %>
            
            
            
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="../scripts/ModalLogin.js"></script>
      </body>
</html>
