<!DOCTYPE html>
<html>
      <head>
            <meta charset="utf-8">
            <title>Autumn Petals</title>
            <link rel="stylesheet" href="../stylesheets/main_page.css" style="text/css">
            <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Satisfy" rel="stylesheet">
            <link rel="stylesheet" href="../stylesheets/button.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/downloadbutton.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/image_slider.css" style="text/css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="../stylesheets/game_weather.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/footer.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/form.css" style="text/css">
            <link rel="shortcut icon" type="image/x-icon" href="../Elements/favicon.ico"/>
      </head>
      <body>
          <div class="mainContent">
                  <% include ./partials/header1 %>
                  <% include ./partials/banner %>
                  <% include ./partials/header2 %>
                  </div>
                  <div class="content3">
                        <% include ./partials/side_tab_world %>
                        <div class="item_content">
                              <h2 class="header_item">Farm</h2><br>
                              <div class="item_content_container">

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Farm/Farm.PNG" alt="Middle of the Farm">
                                          </div>
                                          <div class="description">
                                                <b><font color="brown">Center of Farm: The house is located in the middle of a four road crossway. </font></b>
                                          </div>
                                    </div>


                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Farm/Farm2.PNG" alt="South-West part of farm">
                                          </div>
                                          <div class="description">
                                                <b><font color="brown">South-West: The bridge on the upper side leads to the forest.</font></b>
                                          </div>
                                    </div>
                                    
                                    
                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Farm/Farm3.PNG" alt="South-East part of farm">
                                          </div>
                                          <div class="description">
                                                <b><font color="brown">South-East: The bridge on the lower side leads to the beach and port.</font></b>
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Farm/Farm4.PNG" alt="North-East part of farm">
                                          </div>
                                          <div class="description">
                                                <b><font color="brown">North-East: The bridge on the lower side leads to town.</font></b>
                                          </div>
                                    </div>
                                    
                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Farm/Farm5.PNG" alt="North-West part of farm">
                                          </div>
                                          <div class="description">
                                                <b><font color="brown">North-West: The bridge on the upper side leads to the mines.</font></b>
                                          </div>
                                    </div>

                                    </div>
                              </div>
                  </div>
                  </div><br><br>
            <% include ./partials/footer %>
            
            
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="../scripts/ModalLogin.js"></script>
            <script src="../scripts/Fade_In.js"></script>

      </body>
</html>
