<!DOCTYPE html>
<html>
      <head>
            <meta charset="utf-8">
            <title>Autumn Petals</title>
            <link rel="stylesheet" href="../stylesheets/main_page.css" style="text/css">
            <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Satisfy" rel="stylesheet">
            <link rel="stylesheet" href="../stylesheets/button.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/downloadbutton.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/image_slider.css" style="text/css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="../stylesheets/game_fishing.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/footer.css" style="text/css">
      </head>
      <body>
          <div class="mainContent">
                  <% include ./partials/header1 %>
                  <% include ./partials/banner %>
                  <% include ./partials/header2 %>
                  </div>
                <div class="content3">
                        <% include ./partials/side_tab_game %>
                        <div class="item_content">
                              <h2 class="header_item">Crops</h2><br>
                              <div class="item_content_container">
                              
                              <!--<% crops.forEach(function(crop){ %>-->
                              <!--      <div class="item_content_list">-->
                              <!--            <div class="item_img">-->
                              <!--                  <img src="<%= crop.img %>" alt="<%= crop.name %>">-->
                              <!--            </div>-->
                              <!--            <div class="description">-->
                              <!--                  <%= crop.name %>-->
                              <!--            </div>-->
                              <!--      </div>   -->
                              <!--<% }); %>-->
                                                               
                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/1.PNG" alt="Strawberry">
                                          </div>
                                          <div class="description">
                                                Strawberry
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/2.PNG" alt="Pumpkin">
                                          </div>
                                          <div class="description">
                                                Pumpkin
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/3.PNG" alt="Carrot">
                                          </div>
                                          <div class="description">
                                                Carrot
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/4.PNG" alt="Raspberry">
                                          </div>
                                          <div class="description">
                                                Raspberry
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/5.PNG" alt="Red Pepper">
                                          </div>
                                          <div class="description">
                                                Red Pepper
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/6.PNG" alt="Soybean">
                                          </div>
                                          <div class="description">
                                                Soybean
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/7.PNG" alt="Corn">
                                          </div>
                                          <div class="description">
                                                Corn
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/8.PNG" alt="Watermelon">
                                          </div>
                                          <div class="description">
                                                Watermelon
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/9.PNG" alt="Yellow Watermelon">
                                          </div>
                                          <div class="description">
                                                Yellow Watermelon
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/10.PNG" alt="Sunflower">
                                          </div>
                                          <div class="description">
                                                Sunflower
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/11.PNG" alt="EggPlant">
                                          </div>
                                          <div class="description">
                                                Eggplant
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/12.PNG" alt="Tomato">
                                          </div>
                                          <div class="description">
                                                Tomato
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/13.PNG" alt="Peach">
                                          </div>
                                          <div class="description">
                                                Peach
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/14.PNG" alt="Apple">
                                          </div>
                                          <div class="description">
                                                Apple
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/15.PNG" alt="Pear">
                                          </div>
                                          <div class="description">
                                                Pear
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/16.PNG" alt="Melon">
                                          </div>
                                          <div class="description">
                                                Melon
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/17.PNG" alt="Lemon">
                                          </div>
                                          <div class="description">
                                                Lemon
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/18.PNG" alt="Banana">
                                          </div>
                                          <div class="description">
                                                Banana
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/19.PNG" alt="Potato">
                                          </div>
                                          <div class="description">
                                                Potato
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/20.PNG" alt="Cherry">
                                          </div>
                                          <div class="description">
                                                Cherry
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/21.PNG" alt="Pepper">
                                          </div>
                                          <div class="description">
                                                Pepper
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/22.PNG" alt="Green Pepper">
                                          </div>
                                          <div class="description">
                                                Green Pepper
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/23.PNG" alt="Yellow Pepper">
                                          </div>
                                          <div class="description">
                                                Yellow Pepper
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/24.PNG" alt="BlueBerry">
                                          </div>
                                          <div class="description">
                                                Blueberry
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
          </div><br><br>
            <% include ./partials/footer %>
      </body>
</html>
