<!DOCTYPE html>
<html>
      <head>
            <meta charset="utf-8">
            <title>Autumn Petals</title>
            <link rel="stylesheet" href="../stylesheets/main_page.css" style="text/css">
            <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Satisfy" rel="stylesheet">
            <link rel="stylesheet" href="../stylesheets/button.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/downloadbutton.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/image_slider.css" style="text/css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="../stylesheets/news_content.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/footer.css" style="text/css">
      </head>
      <body>
            <div class="header">
                  <% include ./partials/header1 %>
                  <% include ./partials/banner %>
                  <% include ./partials/header2 %>
                  </div><br><br>
                  <div class="content2">
                        <% include ./partials/side_tab_news %>
                        <div class="news_content">
                              <h2 class="header_news">Game Updates</h2><br>
                              <div class="news_content_list">
                                    <dl class="article1">
                                          <dt class="subject1">
                                                <a href="#" title="Major Game Adjustments">Major Game Adjustments</a>
                                          </dt>
                                          <dd class="date1">
                                                <span>06/08/17</span>
                                          </dd>
                                          <dd class="teaser1">
                                                Game balance &amp; more&nbsp;&nbsp;&nbsp;<a href="#" title="Major Game Adjustments" class="more">Read More&#187;&nbsp;</a>
                                          </dd>
                                    </dl>
                                    <dl class="article1">
                                          <dt class="subject1">
                                                <a href="#" title="New Farm Animals">New Farm Animals</a>
                                          </dt>
                                          <dd class="date1">
                                                <span>06/09/17</span>
                                          </dd>
                                          <dd class="teaser1">
                                                New introductions to the farm...&nbsp;&nbsp;<a href="#" title="New Farm Animals" class="more">Read More&#187;&nbsp;</a>
                                          </dd>
                                    </dl>
                                    <dl class="article1">
                                          <dt class="subject1">
                                                <a href="#" title="Patch 0.01">Patch 0.01</a>
                                          </dt>
                                          <dd class="date1">
                                                <span>06/12/17</span>
                                          </dd>
                                          <dd class="teaser1">
                                                Please read the following...&nbsp;&nbsp;<a href="#" title="Patch 0.01" class="more">Read More&#187;&nbsp;</a>
                                          </dd>
                                    </dl>
                                    <dl class="article1">
                                          <dt class="subject1">
                                                <a href="#" title="New Area Introduced">New Area Introduced</a>
                                          </dt>
                                          <dd class="date1">
                                                <span>06/11/17</span>
                                          </dd>
                                          <dd class="teaser1">
                                                Welcome to the new area...&nbsp;&nbsp;&nbsp;<a href="#" title="New Area Introduced" class="more">Read More&#187;&nbsp;</a>
                                          </dd>
                                    </dl>
                                    <dl class="article1">
                                          <dt class="subject1">
                                                <a href="#" title="Beta Key">Beta Key</a>
                                          </dt>
                                          <dd class="date1">
                                                <span>06/19/17</span>
                                          </dd>
                                          <dd class="teaser1">
                                                Please read the following...&nbsp;&nbsp;&nbsp;<a href="#" title="Beta Key" class="more">Read More&#187;&nbsp;</a>
                                          </dd>
                                    </dl>
                                    <dl class="article1">
                                          <dt class="subject1">
                                                <a href="#" title="Opening Date Release">Opening Date Release</a>
                                          </dt>
                                          <dd class="date1">
                                                <span>06/20/17</span>
                                          </dd>
                                          <dd class="teaser1">
                                                Please read the following...&nbsp;&nbsp;&nbsp;<a href="#" title="Opening Date Release" class="more">Read More&#187;&nbsp;</a>
                                          </dd>
                                    </dl>
                              </div>
                        </div>
                  </div>
            <% include ./partials/footer %>
      </body>
</html>
