<!DOCTYPE html>
<html>
      <head>
            <meta charset="utf-8">
            <title>Autumn Petals</title>
            <link rel="stylesheet" href="../stylesheets/main_page.css" style="text/css">
            <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Satisfy" rel="stylesheet">
            <link rel="stylesheet" href="../stylesheets/button.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/downloadbutton.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/image_slider.css" style="text/css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="../stylesheets/item_mall_seed.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/footer.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/form.css" style="text/css">
            <link rel="shortcut icon" type="image/x-icon" href="../Elements/favicon.ico"/>
            <link rel="stylesheet" href="../stylesheets/pagination.css" style="text/css">

      </head>
      <body>
            <div class="mainContent">
                <% include ./partials/header1 %>
                <% include ./partials/banner %>
                <% include ./partials/header2 %>
            </div>
                    <div class="content3">
                        <% include ./partials/side_tab_item %>
                        <div class="item_content">
                              <h2 class="header_item">Seeds</h2><br>
                              <div class="item_content_container">
                    
                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/2.PNG" alt="Pumpkin Seeds">
                                          </div>
                                          <div class="description">
                                                <a href="#" class="item_name">Pumpkin Seeds</a>
                                              
                                          </div>
                                        
                                        <div class="information">
                                            <ul>
                                                        <li>Yield:</li>
                                                        <li>Market Price:</li>
                                                        <li>Grow Time:</li>
                                                        <li>Harvest Season:</li>
                                            </ul>
                                        </div>
                                        
                                          <div class="item_price">
                                                <b>700</b>
                                                <img src="../Elements/AP.PNG" alt="AP">
                                          </div>
                                          <div class="buy_button">
                                                <a href="#"><b>Buy Now</b></a>
                                          </div>
                                    </div>
                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/1.PNG" alt="Strawberry">
                                          </div>
                                          <div class="description">
                                                <a href="#" class="item_name">Strawberry Seeds</a>
                                              
                                          </div>
                                        
                                        <div class="information">
                                            <ul>
                                                        <li>Yield:</li>
                                                        <li>Market Price:</li>
                                                        <li>Grow Time:</li>
                                                        <li>Harvest Season:</li>
                                            </ul>
                                        </div>
                                        
                                          <div class="item_price">
                                                <b>700</b>
                                                <img src="../Elements/AP.PNG" alt="AP">
                                          </div>
                                          <div class="buy_button">
                                                <a href="#"><b>Buy Now</b></a>
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/8.PNG" alt="Watermelon">
                                          </div>
                                          <div class="description">
                                                <a href="#" class="item_name">Watermelon Seeds</a>
                                              
                                          </div>
                                        
                                        <div class="information">
                                            <ul>
                                                        <li>Yield:</li>
                                                        <li>Market Price:</li>
                                                        <li>Grow Time:</li>
                                                        <li>Harvest Season:</li>
                                            </ul>
                                        </div>
                                        
                                          <div class="item_price">
                                                <b>1000</b>
                                                <img src="../Elements/AP.PNG" alt="AP">
                                          </div>
                                          <div class="buy_button">
                                                <a href="#"><b>Buy Now</b></a>
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/9.PNG" alt="Y Watermelon">
                                          </div>
                                          <div class="description">
                                                <a href="#" class="item_name">Y Watermelon Seeds</a>
                                              
                                          </div>
                                        
                                        <div class="information">
                                            <ul>
                                                        <li>Yield:</li>
                                                        <li>Market Price:</li>
                                                        <li>Grow Time:</li>
                                                        <li>Harvest Season:</li>
                                            </ul>
                                        </div>
                                        
                                          <div class="item_price">
                                                <b>800</b>
                                                <img src="../Elements/AP.PNG" alt="AP">
                                          </div>
                                          <div class="buy_button">
                                                <a href="#"><b>Buy Now</b></a>
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/5.PNG" alt="Beets">
                                          </div>
                                          <div class="description">
                                                <a href="#" class="item_name">Beets Seeds</a>
                                              
                                          </div>
                                        <div class="information">
                                            <ul>
                                                        <li>Yield:</li>
                                                        <li>Market Price:</li>
                                                        <li>Grow Time:</li>
                                                        <li>Harvest Season:</li>
                                            </ul>
                                        </div>
                                          <div class="item_price">
                                                <b>700</b>
                                                <img src="../Elements/AP.PNG" alt="AP">
                                          </div>
                                          <div class="buy_button">
                                                <a href="#"><b>Buy Now</b></a>
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/7.PNG" alt="Tomatillo">
                                          </div>
                                          <div class="description">
                                                <a href="#" class="item_name">Tomatillo Seeds</a>
                                              
                                          </div>
                                        
                                        <div class="information">
                                            <ul>
                                                        <li>Yield:</li>
                                                        <li>Market Price:</li>
                                                        <li>Grow Time:</li>
                                                        <li>Harvest Season:</li>
                                            </ul>
                                        </div>
                                        
                                          <div class="item_price">
                                                <b>500</b>
                                                <img src="../Elements/AP.PNG" alt="AP">
                                          </div>
                                          <div class="buy_button">
                                                <a href="#"><b>Buy Now</b></a>
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/4.PNG" alt="Raspberry">
                                          </div>
                                          <div class="description">
                                                <a href="#" class="item_name">Raspberry Seeds</a>
                                              
                                          </div>
                                        
                                        <div class="information">
                                            <ul>
                                                        <li>Yield:</li>
                                                        <li>Market Price:</li>
                                                        <li>Grow Time:</li>
                                                        <li>Harvest Season:</li>
                                            </ul>
                                        </div>
                                        
                                          <div class="item_price">
                                                <b>900</b>
                                                <img src="../Elements/AP.PNG" alt="AP">
                                          </div>
                                          <div class="buy_button">
                                                <a href="#"><b>Buy Now</b></a>
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/9.PNG" alt="Onion">
                                          </div>
                                          <div class="description">
                                                <a href="#" class="item_name">Onion Seeds</a>
                                              
                                          </div>
                                        
                                        <div class="information">
                                            <ul>
                                                        <li>Yield:</li>
                                                        <li>Market Price:</li>
                                                        <li>Grow Time:</li>
                                                        <li>Harvest Season:</li>
                                            </ul>
                                        </div>
                                        
                                          <div class="item_price">
                                                <b>400</b>
                                                <img src="../Elements/AP.PNG" alt="AP">
                                          </div>
                                          <div class="buy_button">
                                                <a href="#"><b>Buy Now</b></a>
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/10.PNG" alt="Pepper">
                                          </div>
                                          <div class="description">
                                                <a href="#" class="item_name">Pepper Seeds</a>
                                              
                                          </div>
                                        
                                        <div class="information">
                                            <ul>
                                                        <li>Yield:</li>
                                                        <li>Market Price:</li>
                                                        <li>Grow Time:</li>
                                                        <li>Harvest Season:</li>
                                            </ul>
                                        </div>
                                        
                                          <div class="item_price">
                                                <b>600</b>
                                                <img src="../Elements/AP.PNG" alt="AP">
                                          </div>
                                          <div class="buy_button">
                                                <a href="#"><b>Buy Now</b></a>
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/11.PNG" alt="Wheat">
                                          </div><div class="description">
                                                <a href="#" class="item_name">Wheat Seeds</a>
                                        
                                          </div>
                                        
                                        <div class="information">
                                            <ul>
                                                        <li>Yield:</li>
                                                        <li>Market Price:</li>
                                                        <li>Grow Time:</li>
                                                        <li>Harvest Season:</li>
                                            </ul>
                                        </div>
                                        
                                          <div class="item_price">
                                                <b>500</b>
                                                <img src="../Elements/AP.PNG" alt="AP">
                                          </div>
                                          <div class="buy_button">
                                                <a href="#"><b>Buy Now</b></a>
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/12.PNG" alt="Sun Poppy">
                                          </div>
                                          <div class="description">
                                                <a href="#" class="item_name">Sun Poppy Seeds</a>
                                             
                                          </div>
                                        
                                        <div class="information">
                                            <ul>
                                                        <li>Yield:</li>
                                                        <li>Market Price:</li>
                                                        <li>Grow Time:</li>
                                                        <li>Harvest Season:</li>
                                            </ul>
                                        </div>
                                        
                                          <div class="item_price">
                                                <b>500</b>
                                                <img src="../Elements/AP.PNG" alt="AP">
                                          </div>
                                          <div class="buy_button">
                                                <a href="#"><b>Buy Now</b></a>
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/13.PNG" alt="Purp. Tomato">
                                          </div>
                                          <div class="description">
                                                <a href="#" class="item_name">Purp. Tomato Seeds</a>
                                              
                                          </div>
                                        
                                        <div class="information">
                                            <ul>
                                                        <li>Yield:</li>
                                                        <li>Market Price:</li>
                                                        <li>Grow Time:</li>
                                                        <li>Harvest Season:</li>
                                            </ul>
                                        </div>
                                        
                                          <div class="item_price">
                                                <b>500</b>
                                                <img src="../Elements/AP.PNG" alt="AP">
                                          </div>
                                          <div class="buy_button">
                                                <a href="#"><b>Buy Now</b></a>
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/6.PNG" alt="Soybean">
                                          </div>
                                          <div class="description">
                                                <a href="#" class="item_name">Soybean Seeds</a>
                                             
                                          </div>
                                        
                                        <div class="information">
                                            <ul>
                                                        <li>Yield:</li>
                                                        <li>Market Price:</li>
                                                        <li>Grow Time:</li>
                                                        <li>Harvest Season:</li>
                                            </ul>
                                        </div>
                                        
                                          <div class="item_price">
                                                <b>800</b>
                                                <img src="../Elements/AP.PNG" alt="AP">
                                          </div>
                                          <div class="buy_button">
                                                <a href="#"><b>Buy Now</b></a>
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/5.PNG" alt="Red Pepper">
                                          </div>
                                          <div class="description">
                                                <a href="#" class="item_name">Red Pepper Seeds</a>
                                              
                                          </div>
                                        <div class="information">
                                            <ul>
                                                        <li>Yield:</li>
                                                        <li>Market Price:</li>
                                                        <li>Grow Time:</li>
                                                        <li>Harvest Season:</li>
                                            </ul>
                                        </div>
                                        
                                          <div class="item_price">
                                                <b>500</b>
                                                <img src="../Elements/AP.PNG" alt="AP">
                                          </div>
                                          <div class="buy_button">
                                                <a href="#"><b>Buy Now</b></a>
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../image/10.PNG" alt="Sunflower">
                                          </div>
                                          <div class="description">
                                                <a href="#" class="item_name">Sunflower Seeds</a>
                                        
                                          </div>
                                        
                                        <div class="information">
                                            <ul>
                                                        <li>Yield:</li>
                                                        <li>Market Price:</li>
                                                        <li>Grow Time:</li>
                                                        <li>Harvest Season:</li>
                                            </ul>
                                        </div>
                                        
                                          <div class="item_price">
                                                <b>500</b>
                                                <img src="../Elements/AP.PNG" alt="AP">
                                          </div>
                                          <div class="buy_button">
                                                <a href="#"><b>Buy Now</b></a>
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/17.PNG" alt="WhiskyPeat">
                                          </div>
                                          <div class="description">
                                                <a href="#" class="item_name">Whisky Peat Seeds</a>
                                              
                                          </div>
                                        
                                        <div class="information">
                                            <ul>
                                                        <li>Yield:</li>
                                                        <li>Market Price:</li>
                                                        <li>Grow Time:</li>
                                                        <li>Harvest Season:</li>
                                            </ul>
                                        </div>
                                        
                                          <div class="item_price">
                                                <b>500</b>
                                                <img src="../Elements/AP.PNG" alt="AP">
                                          </div>
                                          <div class="buy_button">
                                                <a href="#"><b>Buy Now</b></a>
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/18.PNG" alt="Squmpin">
                                          </div>
                                          <div class="description">
                                                <a href="#" class="item_name">Squmpin Seeds</a>
                                              
                                          </div>
                                        
                                        <div class="information">
                                            <ul>
                                                        <li>Yield:</li>
                                                        <li>Market Price:</li>
                                                        <li>Grow Time:</li>
                                                        <li>Harvest Season:</li>
                                            </ul>
                                        </div>
                                        
                                          <div class="item_price">
                                                <b>1000</b>
                                                <img src="../Elements/AP.PNG" alt="AP">
                                          </div>
                                          <div class="buy_button">
                                                <a href="#"><b>Buy Now</b></a>
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/19.PNG" alt="Red Spinach">
                                          </div>
                                          <div class="description">
                                                <a href="#" class="item_name">Red Spinach Seeds</a>
                                              
                                          </div>
                                        
                                        <div class="information">
                                            <ul>
                                                        <li>Yield:</li>
                                                        <li>Market Price:</li>
                                                        <li>Grow Time:</li>
                                                        <li>Harvest Season:</li>
                                            </ul>
                                        </div>
                                        
                                          <div class="item_price">
                                                <b>700</b>
                                                <img src="../Elements/AP.PNG" alt="AP">
                                          </div>
                                          <div class="buy_button">
                                                <a href="#"><b>Buy Now</b></a>
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/20.PNG" alt="Grapes">
                                          </div>
                                          <div class="description">
                                                <a href="#" class="item_name">Grapes Seeds</a>
                                              
                                          </div>
                                        
                                        <div class="information">
                                            <ul>
                                                        <li>Yield:</li>
                                                        <li>Market Price:</li>
                                                        <li>Grow Time:</li>
                                                        <li>Harvest Season:</li>
                                            </ul>
                                        </div>
                                        
                                          <div class="item_price">
                                                <b>500</b>
                                                <img src="../Elements/AP.PNG" alt="AP">
                                          </div>
                                          <div class="buy_button">
                                                <a href="#"><b>Buy Now</b></a>
                                              
                                              
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/21.PNG" alt="Peas">
                                          </div>
                                          <div class="description">
                                                <a href="#" class="item_name">Peas Seeds</a>
                                              
                                          </div>
                                        
                                        <div class="information">
                                            <ul>
                                                        <li>Yield:</li>
                                                        <li>Market Price:</li>
                                                        <li>Grow Time:</li>
                                                        <li>Harvest Season:</li>
                                            </ul>
                                        </div>
                                        
                                          <div class="item_price">
                                                <b>500</b>
                                                <img src="../Elements/AP.PNG" alt="AP">
                                          </div>
                                          <div class="buy_button">
                                                <a href="#"><b>Buy Now</b></a>
                                          </div>
                                    </div>
                                    <!--/////////////////////////////////////////-->
                                    <!--//////////////////////////////////////-->
                                    
                                    <nav aria-label="Page navigation">
                                          <ul class="pagination">
                                                <li>
                                                    <a href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="active"><a href="/item-mall">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li>
                                                    <a href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                         </ul>
                                    </nav>
                                    <!--//////////////////////////////////////////////////////-->
                                    <!--/////////////////////////////////////////////////////-->
                              </div>
                        </div>
                  </div>
            </div><br><br>
            <% include ./partials/footer %>
            
            
            
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="../scripts/Fade_In.js"></script>
            <script src="../scripts/ModalLogin.js"></script>
            <script src="scripts/Item_hover.js"></script>
      </body>
</html>
