<!DOCTYPE html>
<html>
      <head>
            <meta charset="utf-8">
            <title>Autumn Petals</title>
            <link rel="stylesheet" href="../stylesheets/main_page.css" style="text/css">
            <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Satisfy" rel="stylesheet">
            <link rel="stylesheet" href="../stylesheets/button.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/downloadbutton.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/image_slider.css" style="text/css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="../stylesheets/news_content.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/footer.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/form.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/pagination.css" style="text/css">
            <link rel="shortcut icon" type="image/x-icon" href="../Elements/favicon.ico"/>
      </head>
      <body>
            <div class="header">
                  <% include ./partials/header1 %>
                  <% include ./partials/banner %>
                  <% include ./partials/header2 %>
            </div>
                <br><br>
                  <div class="content2">
                        <% include ./partials/side_tab_news %>
                        <div class="news_content">
                              <h2 class="header_news">Patch Notes</h2><br>
                              <div class="item_content_container">
                                    <dl class="article1">
                                          <dt class="subject1">
                                                <a href="#" title="Patch 0.1">Patch 0.1</a>
                                          </dt>
                                          <dd class="date1">
                                                <span>06/08/17</span>
                                          </dd>
                                          <dd class="teaser1">
                                                Please read the following...&nbsp;&nbsp;&nbsp;<a href="#" title="Patch 0.1" class="more">Read More&#187;&nbsp;</a>
                                          </dd>
                                    </dl>
                                    <dl class="article1">
                                          <dt class="subject1">
                                                <a href="#" title="Patch 0.6">Patch 0.6 </a>
                                          </dt>
                                          <dd class="date1">
                                                <span>06/09/17</span>
                                          </dd>
                                          <dd class="teaser1">
                                                Please read the following...&nbsp;&nbsp;<a href="#" title="Patch 0.6" class="more">Read More&#187;&nbsp;</a>
                                          </dd>
                                    </dl>
                                    <dl class="article1">
                                          <dt class="subject1">
                                                <a href="#" title="Patch 0.5">Patch 0.5 </a>
                                          </dt>
                                          <dd class="date1">
                                                <span>12/12/99</span>
                                          </dd>
                                          <dd class="teaser1">
                                                Please read the following...&nbsp;&nbsp;<a href="#" title="Patch 0.5" class="more">Read More&#187;&nbsp;</a>
                                          </dd>
                                    </dl>
                                    <dl class="article1">
                                          <dt class="subject1">
                                                <a href="#" title="Patch 0.4">Patch 0.4</a>
                                          </dt>
                                          <dd class="date1">
                                                <span>06/11/17</span>
                                          </dd>
                                          <dd class="teaser1">
                                                Please read the following...&nbsp;&nbsp;&nbsp;<a href="#" title="Patch 0.4" class="more">Read More&#187;&nbsp;</a>
                                          </dd>
                                    </dl>
                                    <dl class="article1">
                                          <dt class="subject1">
                                                <a href="#" title="Patch 0.3">Patch 0.3</a>
                                          </dt>
                                          <dd class="date1">
                                                <span>06/19/17</span>
                                          </dd>
                                          <dd class="teaser1">
                                                Please read the following...&nbsp;&nbsp;&nbsp;<a href="#" title="Patch 0.3" class="more">Read More&#187;&nbsp;</a>
                                          </dd>
                                    </dl>
                                    <dl class="article1">
                                          <dt class="subject1">
                                                <a href="#" title="Patch 0.2">Patch 0.2</a>
                                          </dt>
                                          <dd class="date1">
                                                <span>06/20/17</span>
                                          </dd>
                                          <dd class="teaser1">
                                                Please read the following...&nbsp;&nbsp;&nbsp;<a href="#" title="Patch 0.2" class="more">Read More&#187;&nbsp;</a>
                                          </dd>
                                    </dl>
                                    <!--/////////////////////////////////////////-->
                                    <!--//////////////////////////////////////-->
                                    
                                    <nav aria-label="Page navigation">
                                          <ul class="pagination">
                                                <li>
                                                    <a href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li>
                                                    <a href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                         </ul>
                                    </nav>
                                    <!--//////////////////////////////////////////////////////-->
                                    <!--/////////////////////////////////////////////////////-->                                           
                                    </div>
                              </div>
                        </div>
                  </div>
            <% include ./partials/footer %>
            
            
            
            
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="../scripts/ModalLogin.js"></script>
      </body>
</html>
