<!DOCTYPE html>
<html>
      <head>
            <meta charset="utf-8">
            <title>Autumn Petals</title>
            <link rel="stylesheet" href="../stylesheets/main_page.css" style="text/css">
            <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Satisfy" rel="stylesheet">
            <link rel="stylesheet" href="../stylesheets/button.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/downloadbutton.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/image_slider.css" style="text/css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="../stylesheets/item_mall_seed.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/footer.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/form.css" style="text/css">
            <link rel="shortcut icon" type="image/x-icon" href="../Elements/favicon.ico"/>
      </head>
      <body>
          <div class="mainContent">
           <% include ./partials/header1 %>
                  <% include ./partials/banner %>
                  <% include ./partials/header2 %>
                  </div>
                  <div class="content3">
                        <% include ./partials/side_tab_item %>
                        <div class="item_content">
                              <h2 class="header_item">Pets</h2><br>

                              <div class="item_content_container">
                                    <% pets.forEach(function(pet){ %>
                                          <div class="item_content_list">
                                                <div class="item_img">
                                                      <img src="<%=pet.img%>" alt="<%=pet.type%>">
                                                </div>
                                                <div class="description">
                                                      <a href="#" class="item_name"><%=pet.type%></a>
                                                </div>
                                                <div class="item_price">
                                                      <b><%=pet.price%></b>
                                                      <img src="../Elements/AP.PNG" alt="AP">
                                                </div>
                                                <div class="buy_button">
                                                      <a href="#"><b>Buy Now</b></a>
                                                </div>
                                          </div>
                                    <% }); %>
                                    
                              </div>
                        </div>
                  </div>
            </div><br><br>
            <% include ./partials/footer %>
            
            
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="../scripts/ModalLogin.js"></script>
      </body>
</html>
