<!DOCTYPE html>
<html>
      <head>
            <meta charset="utf-8">
            <title>Autumn Petals</title>
            <link rel="stylesheet" href="../stylesheets/main_page.css" style="text/css">
            <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Satisfy" rel="stylesheet">
            <link rel="stylesheet" href="../stylesheets/button.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/downloadbutton.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/image_slider.css" style="text/css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="../stylesheets/game_fishing.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/footer.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/form.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/pagination.css" style="text/css">
            <link rel="shortcut icon" type="image/x-icon" href="../Elements/favicon.ico"/>
      </head>
      <body>
          <div class="mainContent">
                  <% include ./partials/header1 %>
                  <% include ./partials/banner %>
                  <% include ./partials/header2 %>
                  </div>
                    <div class="content3">
                        <% include ./partials/side_tab_game %>
                        <div class="item_content">
                              <h2 class="header_item">Mining</h2><br>
                              <div class="item_content_container">

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/46.PNG" alt="Purple Garnet">
                                          </div>
                                          <div class="description">
                                                Purple Garnet
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/47.PNG" alt="Black Star Diopside">
                                          </div>
                                          <div class="description">
                                                Black Star Diopside
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/48.PNG" alt="Sapphire">
                                          </div>
                                          <div class="description">
                                                Sapphire
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/49.PNG" alt="Topaz">
                                          </div>
                                          <div class="description">
                                                Topaz
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/50.PNG" alt="LG Musgravite">
                                          </div>
                                          <div class="description">
                                                LG Musgravite
                                          </div>
                                          <!-- <div class="lg_tag">
                                                <img src="Elements/LG.PNG" alt="LG" title="Legendary Gem">
                                          </div> -->
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/51.PNG" alt="Garnet">
                                          </div>
                                          <div class="description">
                                                Garnet
                                          </div>
                                          <div class="lg_tag">
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/52.PNG" alt="LG Blue Diamond">
                                          </div>
                                          <div class="description">
                                                LG Blue Diamond
                                          </div>
                                          <!-- <div class="lg_tag">
                                                <img src="Elements/LG.PNG" alt="LG" title="Legendary Gem">
                                          </div> -->
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/53.PNG" alt="LG Fire Opal ">
                                          </div>
                                          <div class="description">
                                                LG Fire Opal
                                          </div>
                                          <!-- <div class="lg_tag">
                                                <img src="Elements/LG.PNG" alt="LG" title="Legendary Gem">
                                          </div> -->
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/54.PNG" alt="Yellow Garnet">
                                          </div>
                                          <div class="description">
                                                Yellow Garnet
                                          </div>
                                          <div class="lg_tag">
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/55.PNG" alt="LG Red Beryl">
                                          </div><div class="description">
                                                LG Red Beryl
                                          </div>
                                          <!-- <div class="lg_tag">
                                                <img src="Elements/LG.PNG" alt="LG" title="Legendary Gem">
                                          </div> -->
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/56.PNG" alt="Black Garnet">
                                          </div>
                                          <div class="description">
                                                Black Garnet
                                          </div>
                                          <div class="lg_tag">
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/57.PNG" alt="Tanzanite">
                                          </div>
                                          <div class="description">
                                                Tanzanite
                                          </div>
                                          <div class="lg_tag">
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/58.PNG" alt="LG Benitoite">
                                          </div>
                                          <div class="description">
                                                LG Benitoite
                                          </div>
                                          <!-- <div class="lg_tag">
                                                <img src="Elements/LG.PNG" alt="LG" title="Legendary Gem">
                                          </div> -->
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/59.PNG" alt="Emerald">
                                          </div>
                                          <div class="description">
                                                Emerald
                                          </div>
                                          <div class="lg_tag">
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/60.PNG" alt="Ruby">
                                          </div>
                                          <div class="description">
                                                Ruby
                                          </div>
                                          <div class="lg_tag">
                                          </div>
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/61.PNG" alt="LG Jeremejevite">
                                          </div>
                                          <div class="description">
                                                LG Jeremejevite
                                          </div>
                                          <!-- <div class="lg_tag">
                                                <img src="Elements/LG.PNG" alt="LG" title="Legendary Gem">
                                          </div> -->
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/62.PNG" alt="LG Alexandrite">
                                          </div>
                                          <div class="description">
                                                LG Alexandrite
                                          </div>
                                          <!-- <div class="lg_tag">
                                                <img src="Elements/LG.PNG" alt="LG" title="Legendary Gem">
                                          </div> -->
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/63.PNG" alt="LG Diamond">
                                          </div>
                                          <div class="description">
                                                LG Diamond
                                          </div>
                                          <!-- <div class="lg_tag">
                                                <img src="Elements/LG.PNG" alt="LG"title="Legendary Gem">
                                          </div> -->
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/64.PNG" alt="LG Poudretteite">
                                          </div>
                                          <div class="description">
                                                LG Poudretteite
                                          </div>
                                          <!-- <div class="lg_tag">
                                                <img src="Elements/LG.PNG" alt="LG" title="Legendary Gem">
                                          </div> -->
                                    </div>

                                    <div class="item_content_list">
                                          <div class="item_img">
                                                <img src="../Elements/65.PNG" alt="Ruby Emerald">
                                          </div>
                                          <div class="description">
                                                Ruby Emerald
                                          </div>
                                          <div class="lg_tag">
                                          </div>
                                    </div>
                                    
                                    <!--/////////////////////////////////////////-->
                                    <!--//////////////////////////////////////-->
                                    
                                    <nav aria-label="Page navigation">
                                          <ul class="pagination">
                                                <li>
                                                    <a href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li>
                                                    <a href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                         </ul>
                                    </nav>
                                    <!--//////////////////////////////////////////////////////-->
                                    <!--/////////////////////////////////////////////////////-->       
                              </div>
                        </div>
                  </div>
            </div><br><br>
            <% include ./partials/footer %>
            
            
            
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="../scripts/ModalLogin.js"></script>
            <script src="../scripts/Fade_In.js"></script>

      </body>
</html>
