<!DOCTYPE html>
<html>
      <head>
            <meta charset="utf-8">
            <title>Autumn Petals</title>
            <link rel="stylesheet" href="../stylesheets/main_page.css" style="text/css">
            <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Satisfy" rel="stylesheet">
            <link rel="stylesheet" href="../stylesheets/button.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/downloadbutton.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/image_slider.css" style="text/css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="../stylesheets/news_content.css" style="text/css">
            <link rel="stylesheet" href="../stylesheets/footer.css" style="text/css">
            <link rel="shortcut icon" type="image/x-icon" href="../Elements/favicon.ico"/>
      </head>
      <body>
          <div class="mainContent">
                  <% include ./partials/header1 %>
                  <% include ./partials/banner %>
                  <% include ./partials/header2 %>
                  <br><br>
                  <div class="content2">
                        <% include ./partials/side_tab_news %>
                        <div class="news_content">
                              <h2 class="header_news">News</h2><br>
                              <div class="news_content_list">
                                    <dl class="article1">
                                          <dt class="subject1">
                                                <a href="#" title="North and South America Data Center Maintenance">NA/SA Server Maintenance </a>
                                          </dt>
                                          <dd class="date1">
                                                <span>06/08/17</span>
                                          </dd>
                                          <dd class="teaser1">
                                                Please read the following...&nbsp;&nbsp;&nbsp;<a href="#" title="North and South America Data Center Maintenance" class="more">Read More&#187;&nbsp;</a>
                                          </dd>
                                    </dl>
                                    <dl class="article1">
                                          <dt class="subject1">
                                                <a href="#" title="The Sneak Peak">The Sneak Peak </a>
                                          </dt>
                                          <dd class="date1">
                                                <span>06/09/17</span>
                                          </dd>
                                          <dd class="teaser1">
                                                What lies beyond...&nbsp;&nbsp;<a href="#" title="The Sneak Peak" class="more">Read More&#187;&nbsp;</a>
                                          </dd>
                                    </dl>
                                    <dl class="article1">
                                          <dt class="subject1">
                                                <a href="#" title="Official Launch Date">Official Launch Date </a>
                                          </dt>
                                          <dd class="date1">
                                                <span>12/12/99</span>
                                          </dd>
                                          <dd class="teaser1">
                                                Finally,the day is here...&nbsp;&nbsp;<a href="#" title="Official Launch Date" class="more">Read More&#187;&nbsp;</a>
                                          </dd>
                                    </dl>
                                    <dl class="article1">
                                          <dt class="subject1">
                                                <a href="#" title="Discount Sale">Discount Sale </a>
                                          </dt>
                                          <dd class="date1">
                                                <span>06/11/17</span>
                                          </dd>
                                          <dd class="teaser1">
                                                The price of following items are reduced...&nbsp;&nbsp;&nbsp;<a href="#" title="Discount Sale" class="more">Read More&#187;&nbsp;</a>
                                          </dd>
                                    </dl>
                                    <dl class="article1">
                                          <dt class="subject1">
                                                <a href="#" title="Greet the Neighbors">Greet the Neighbors</a>
                                          </dt>
                                          <dd class="date1">
                                                <span>06/19/17</span>
                                          </dd>
                                          <dd class="teaser1">
                                                Please read the following...&nbsp;&nbsp;&nbsp;<a href="#" title="Greet the Neighbors" class="more">Read More&#187;&nbsp;</a>
                                          </dd>
                                    </dl>
                                    <dl class="article1">
                                          <dt class="subject1">
                                                <a href="#" title="June Pet Sale">June Pet Sale</a>
                                          </dt>
                                          <dd class="date1">
                                                <span>06/20/17</span>
                                          </dd>
                                          <dd class="teaser1">
                                                Please read the following...&nbsp;&nbsp;&nbsp;<a href="#" title="June Pet Sale" class="more">Read More&#187;&nbsp;</a>
                                          </dd>
                                    </dl>
                              </div>
                        </div>
                  </div>
              </div>
            <% include ./partials/footer %>
      </body>
</html>
