<!DOCTYPE html>
<html>
      <head>
            <meta charset="utf-8">
            <title>Autumn Petals</title>
            <!-- Google Fonts-->
            <link href="https://fonts.googleapis.com/css?family=Coiny|Dancing+Script" rel="stylesheet">
            <link rel="../stylesheets/stylesheet" href="style.css" style="text/css">
      </head>
      <body>
            <div class="container">
                  <h1>Autumn Petals</h1>
                  <br><br>
                  <a href="Main_Page.html" class="button">Continue to Main Site</a>
            </div>
      </body>
</html>
